:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --font-weight-400 : 400;
    --font-weight-600 : 600;
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --padding-inline-1: 28%;
}
*{
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: var(--font-weight-600);
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Dark-Grayish-Blue);
}
.flex-dc{
    flex-direction: column;
    display: flex;
}
p,
button{
    font-weight: var(--font-weight-400);
    color: var(--Grayish-Blue);
}
button:hover{opacity: .85;}
.container{
    width: 80vw;
    margin: auto;
    border: 1px solid black;
}
header{
    background-image: url('../images/bg-header-desktop.png');
    padding-top: 50px;
    align-items: center;
}
section,
header{margin-bottom: 40px;}
header > * {margin-bottom: 20px;}
.header-logo{
    width: 100px;
    height: 100px;
}
.header-title{font-weight: var(--font-weight-600);}
.header-paragraphe,
.first{
    text-align: center;
    padding-inline: var(--padding-inline-1);
}
.buttons-button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
.buttons-button:first-child{background-color: var(--Strong-Cyan);}
.buttons-button:last-child{background-color: var(--Light-Blue);}
.first-title{margin-bottom: 20px;}
.second{
    display: flex;
    justify-content: space-between;
}
.second-img{width: 40%;}
.second-statistic-oneStatique{padding-right: 35%;}
.second-statistic{
    width: 50%;
    justify-content: space-evenly;
}
.third ,
.forth,
.forth-icons > div{
    text-align: center;
    align-items: center;
}
.third-title{margin-bottom: 15px;}
.third-paragraphe{
    padding-inline: var(--padding-inline-1);
    margin-bottom: 50px;
}
.third-img {
width : 100%
}
.forth-title,
.forth-paragraphe{margin-bottom: 20px;}
.forth-icons{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.forth-icons > *{width: 20%;}
.forth-icons div * {margin-bottom: 20px;}
.fifth{
    display: flex;
    justify-content: space-evenly;
}
.fifth-logo {
width : 15%;
margin-inline : 2px;
 }
.last{
    align-items: center;
    padding-inline: var(--padding-inline-1);
    text-align: center;
}
.last > *{margin: 10px 0px;}
footer{
    padding: 20px 0px;
    background-color: var(--Grayish-Blue);
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-around;
    grid-template-areas: "logo first second third . last" "logo forth fifth . . last";
}
.footer-logo{
    width: 50px;
    grid-area: logo;
}
.footer-links:first-child{grid-area: first;}
.footer-links:nth-child(2){grid-area: second;}
.footer-links:nth-child(3){grid-area: third;}
.footer-links:nth-child(4){grid-area: forth;}
.footer-links:last-child{grid-area: fifth;}
.footer-sociel{grid-area: last;}
@media screen and (max-width:850px){
    :root{--padding-inline-1 : 15%;}
    header{
        text-align: center;
        background-image: url('../images/bg-header-mobile.png');
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .header-title{padding: 10%;}
    .container{
        width: 100vw;
        margin: 0;
    }
    .second{
        flex-direction: column;
        align-items: center;
    }
    .second-img{width: 80%;}
    .second-statistic{
        margin-top: 20px;
        align-items: center;   
        text-align: center;
    }
    .second-statistic-oneStatique{
        padding: 0;
        margin: 20px 0px;
    }
    .third-img{width: 100%;}
    .forth-icons{
        flex-direction: column;
        align-items: center;
    }
    .forth-icons > div{width: 80%;}
    .fifth{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .fifth img{
        width: 40%;
        margin: 25px 0px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .footer-sociel > *{margin-inline: 10px;}
}